{# Edit #}
{#<a href="{{ path('admin.category.edit', {'id': category.id}) }}" class="item-edit text-warning pr-1">#}
{#	<i class="feather feather-18 icon-edit-2"></i>#}
{#</a>#}

{# Delete #}
{#<a href="javascript:void(0);" data-href="{{ path('admin.category.delete', {'id': category.id}) }}" class="item-edit text-danger delete" data-toggle="modal" data-target="#category-modal-delete">#}
{#	<i class="feather feather-18 icon-trash"></i>#}
{#</a>#}
